
nav ul{
    display: none;
    flex-direction: column;
}

article{
    width: 100%;
}

aside{
    display: none;
}

#burger{
    display: block;
    width: 10%;
}

#left_arrow{
    display: block;
    background-color: tomato;
    width: 10%;
}