/* header */
header{
    font-size: 10em;
    text-transform: capitalize;
}
/* header */

/* body */

/* body */

/* footer */
footer{
    font-size: 10em;
    text-transform: capitalize;
}
/* footer */