/* header */
header{
    font-size: 10em;
    text-transform: capitalize;
}
/* header */

/* body */
body{
    background-color: slategrey;
}
/* body */

/* footer */
footer{
    font-size: 10em;
    text-transform: capitalize;
}
/* footer */