header{
    font-size: 5em;
    text-transform: capitalize;
}

body{
    background-color: rgb(202, 224, 245);
}

nav ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
nav ul li{
    background-color: whitesmoke;
    width: 20%;
    text-align: center;
    border-style: solid;
    border-width: 0.01em;
}

main{
    display: flex;
    flex-direction: row;
}

article{
    width: 80%;
    background-color: tomato;
}

aside{
    width: 20%;
    background-color: black;
    color: white;
}

footer{
    font-size: 5em;
    text-transform: capitalize;
}

#burger{
    display: none;
}

#left_arrow{
    display: none;
}